body {
  font-family: "poppins", sans-serif;
  background-color: #fff;
  margin: 0;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 1em;
  left: 2em;
  right: 2em;
  background-color: #757873;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
}

.navbar .navbar-nama {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-style: italic;
}

.navbar .navbar-nama span {
  color: #a8865e;
}

.navbar .navbar-nav a:hover {
  color: #a8865e;
  transition: 0.3s;
}

.navbar .navbar-nav a:active {
  color: #010101;
}

/* isi */
.image {
  width: 10em;
  border: 5px solid white;
  border-radius: 0.2em;
}

.container {
  padding-top: 3em;
  background-image: white;
  background-size: default;
  margin: 3em;
  border-radius: 0.5em;
  padding-bottom: 4em;
  box-shadow: 0 10px 20px rgba(117, 120, 115);
}

.container {
  color: #757873;
  font-family: "roboto", sans-serif;
  padding-left: 3em;
  padding-right: 3em;
}

.row {
  width: 100%;
  margin-right: 7em;
}

.row .teks {
  margin-bottom: 15em;
}

.col h2 {
  margin-right: 10em;
}

.row2 {
  width: 100%;
  margin-right: 7em;
  margin-bottom: 6em;
}
